

body {
    background: white;
    font-family: "Roboto", Arial, sans-serif;
}

a {
    color: white;
}

/*
    Header styles
*/

.name-text {
    text-align: center;
    margin: 1px;
}

#name {
    margin: 10px auto;
    width: 25%;
    border-bottom: 1px solid brown;
}

#nav-box {
    width: 50%;
    margin: auto;
    font-weight: bold;
    font-size: 16px;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: #a0a0a0;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.navbot {
    height: 100%;
}

.navbar-nav {
    margin-right: 0;
    list-style-type: none;
    overflow: hidden;
    flex-direction: row;
}

.nav-item {
    font-size: 15px;
    font-weight: 500;
    position: relative;
    margin: 16px;
    padding: 10px;
    background-color: rgb(87, 87, 255);
}

/*
    Main styles
*/



.ftco-section {
    width: 100%;
    padding-top: 20px;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

#profile-pic {
    flex: 1;
    margin-right: 20px;
}

#profile-desc {
    flex: 2;
    padding: 0 20px;
}

#profile-pic img {
    height: auto;
    width: 200px;
    border-radius: 50%;
    margin: 0;
}

#about {
    margin-top: 80px;
}

#about container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about-me-box h1 {
    font-size: 64px;
    margin: 0;
}

/*
    Resume styles
*/
#resume-wrapper {
    width: 50%;
    margin: 0 auto;
}

.resume-category {
    margin: 10px auto;
}

.resume-category div {
    padding: 10px;
}

.resume-category h2 {
    text-align: center;
}

.category-title {
    height: 90px;
    width: 180px;
    background: lightblue;
}

.category-title h3 {
    color: white;
}

.category-content {
    height: auto;
    width: auto;
}

.work-entry {
    width: 800px;
}

/*
    Project styles
*/

.title {
    width: 25%;
}

.project-entry {
    border: 1px solid black;
    width: 500px;
    height: auto;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.project-entry img {
    width: 100%;
    height: auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

/*
    Footer styles
*/
#footer-bar {
    width: 100%;
    margin: 25px 0;
    padding: 10px 0;
    float: left;
    background-color: black;
}

.footer-item {
    margin: 0 50px;
    width: 10%;
    float: left;
    color: white;
}

.social-link {
    margin-right: 5px;
    width: 25px;
    height: 25px;
    float: left;
}

.footer-item p {
    float: left;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}