html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #FFEAAC;
}

div {
     border: 1px solid black;
}

/*
    Header styles
*/
#HeaderShell {
    width: 100%;
    padding: 10px 10px;
}

.NameText {
    text-align: center;
    margin: 1px auto;
}

#Name {
    margin: 10px auto;
    width: 25%;
}

nav {
    margin: 10px auto;
    width: 35%;
}

.NavLink {
    margin: 0 25px;
    text-decoration: none;
}

/*
    Footer styles
*/
#FooterBar {
    width: 100%;
    margin: 25px 0;
    padding: 10px 0;
    float: left;
    background-color: black;
}

.FooterItem {
    margin: 0 50px;
    width: 10%;
    float: left;
    color: white;
}

footer div div p {
    text-align: center;
}