html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: white;
    font-family: "Roboto", Arial, sans-serif;
}

.title {
    margin: 10px auto;
    width: 25%;
}

/*
    Header styles
*/

.name-text {
    text-align: center;
    margin: 1px;
}

#name {
    margin: 10px auto;
    width: 25%;
    border-bottom: 1px solid brown;
}

#nav-box {
    width: 50%;
    margin: auto;
    font-weight: bold;
    font-size: 16px;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: #B2272E;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.navbar-nav {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 0;
    list-style-type: none;
    overflow: hidden;
    flex-direction: row;
}

.nav-item {
    font-size: 15px;
    font-weight: 500;
    color: white;
    position: relative;
    padding: 16px;
}

/*
    Main styles
*/

.ftco-section {
    width: 100%;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

#profile-pic {
    height: 350px;
    border-radius: 25px;
    margin: 50px 50px;
}

#about {
    float: left;
    position: relative;
}

#about-me-box h1 {
    font-size: 64px;
    margin: 0;
}

#projects {
    width: 50%;
    margin: 0 auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

#center-content {
    width: 50%;
    margin: 0 auto;
}

/*
    Resume styles
*/
#resume-wrapper {
    width: 50%;
    margin: 0 auto;
}

.resume-category {
    margin: 10px auto;
}

.resume-category div {
    padding: 10px;
}

.resume-category h2 {
    text-align: center;
}

.category-title {
    height: 90px;
    width: 150px;
    background: lightblue;
}

.category-title h3 {
    color: white;
}

.category-content {
    height: auto;
    width: auto;
}

.work-entry {
    width: 800px;
}

/*
    Project styles
*/
.project-entry {
    border: 1px solid black;
    width: 100%;
    height: 350px;
    margin-bottom: 25px;
    position: relative;
}

/*
    Footer styles
*/
#footer-bar {
    width: 100%;
    margin: 25px 0;
    padding: 10px 0;
    float: left;
    background-color: black;
}

.footer-item {
    margin: 0 50px;
    width: 10%;
    float: left;
    color: white;
}

.social-link {
    margin-right: 5px;
    width: 25px;
    height: 25px;
    float: left;
}

.footer-item p {
    float: left;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}