body {
    background: #FFEAAC;
}

div {
     border: 1px solid black;
}

/*
    Header styles
*/
#HeaderShell {
    width: 100%;
    height: 250px;
}

header div {
    float: left;
}

.NameText {
    text-align: center;
}

#Name {
    margin: 50px 100px;
    width: 25%;
}

#NavBar {
    margin: 100px 10px;
    width: 50%;
}

.NavLink {
    margin: 0 50px;
}
/*
    Main styles
*/

#ProfilePic {
    height: 25%;
    width: 25%;
    clip: rect(100px, 0, 100px, 0);
    float: left;
    border-radius: 25px;
    margin: 50px 50px;
}

#AboutMeBox {
    float: right;
    width: 50%;
    height: 500px;
    margin: 100px 100px;
}

#AboutMeBox h1 {
    font-size: 64px;
}

.AboutMeEntry {
    font-size: 32px;
}

/*
    Resume styles
*/
.ResumeCategory {
    width: 75%;
    border-left: none;
    border-right: none;
    margin: 10px 0;
}

.ResumeCategory div {
    padding: 10px;
}

.ResumeCategory h2 {
    text-align: center;
}

.ResumeParagraph {
    text-align: justify;
    margin: 0 auto;
    width: 400px;
}

/*
    Project styles
*/

.ProjectEntry {
    padding: 10px;
}

/*
    Footer styles
*/
#FooterBar {
    width: 100%;
    margin: 25px 0;
    padding: 10px 0;
    float: left;
    background-color: black;
}

.FooterItem {
    margin: 0 50px;
    width: 10%;
    float: left;
    color: white;
}

footer div div p {
    text-align: center;
}