
/*
    Site wide styles
*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #bdcad9;
}

div {
    /* border: 1px solid black; */
}

/*
    Header styles
*/
#navbar {
    display: flex;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.navbot {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.navtop h1 {
    color: white;
}

.navbar-nav {
    display: flex;
    list-style-type: none;
    flex-direction: row;
}

.nav-item {
    font-size: 15px;
    font-weight: 500;
    position: relative;
    margin: 16px;
    padding: 10px;
    border-radius: 10%;
    background-color: white;
}

.nav-item a {
    color: black;
}

/*
    Body Styles
*/

#about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-inline: 50px;
    border-bottom: dashed;
    padding-bottom: 30px;
}

#profile-pic {
    margin-right: 20px;
    margin-bottom: 20px;
}

#profile-desc {
    padding: 0 20px;
    max-width: 100vh;
}

#profile-pic img {
    height: auto;
    width: 200px;
    margin: 0;
}

#projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.project-entry {
    margin: 20px;
    position: relative;
    display: inline-block;
}

.project-entry a img {
    height: auto;
}

.project-entry:hover .hover-image {
    background-color: aqua;
    opacity: 0.5;
}

.project-entry:hover .hover-block {
    opacity: 1;
}

.hover-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Optional background for readability */
  padding: 10px 20px;
  border-radius: 8px;
  opacity: 0;
  font-family: sans-serif;
  text-shadow: 1px 1px 4px black;
}

.project-profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#project-pic {
    padding: 50px;
}

#project-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    min-width: 300px;
    padding: 50px;
}

#project-desc h1 {
    margin-bottom: 0px;
}

#project-desc h3:first-of-type {
    margin: 0px;
}

@media (max-width: 1115px) {
    .project-profile {
        flex-direction: column;
        align-items: center;
    }

    #project-desc {
        text-align: center;
        max-width: 600px;
        align-items: center;
    }
}

/*
    Footer styles
*/
#footer-bar {
    width: 100%;
    margin-top: 25px;
    padding: 10px 0;
    float: left;
    background-color: black;
}

.footer-item {
    margin: 0 50px;
    width: 20%;
    float: left;
    color: white;
}

.social-link {
    margin-right: 5px;
    width: 25px;
    height: 25px;
    float: left;
}

.footer-item p {
    float: left;
    margin: 0 auto;
    text-align: center;
}

.footer-item a {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}